body{
    height: 100vh;
    background-color:lightcyan;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    text-align: center;
}
table{
    border:solid black 1px;
    border-spacing:0px;
    background-color: chartreuse;
}
td, th{
    border: solid black 1px;
    padding: 10px;
    text-align:center;
}
th{
    background-color: cornflowerblue;
}
h1{
    color:chartreuse;
}
ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style-type: none;
   
}
a{
    border:blueviolet solid 2px;
    border-radius: 5px;
    padding:5px;
    text-decoration: none;
}

input{
    margin-bottom:10px;
}
form{
    width: 20%;
    justify-content: center;
    padding: 1%;
    height: 22%;
    background-color: aqua;
    border: blue solid 2px;
    border-radius:30px;
}
/* .nav{
    border: blue solid 2px;
    border-radius:30px;
} */
